.bg-about{

    background-color:rgba(242,248,226,0.5);
}
.custom-card{
    height: 230px;
}
.card-image{
    max-width: 50%;
    opacity: 0.5;
    transition: all 0.2s ease-in;
}
.card-image:hover{
    opacity: 1;
    transition: all 0.2s ease-in;
}
.aboutus{
    width: 100%;
    height: 400px !important;
    max-height: 600px;
}
.Ac-header{
    -webkit-text-fill-color: black;


}

.team-card{
    transition: all 0.3s ease-in-out 0.1s;
    position: relative;
    z-index: 1;
}
.team-card:hover{
    transform: scale(1.08);

}
.team-social-icons{
background: rgba(255, 255, 255, 0.3);
    ;
}
.team-social-icons,.team-social-icons svg{
    right: 2px !important;
    transition: all 0.2s ease-in-out;
}
.team-card:hover .team-social-icons{
opacity: 1 !important;
position: relative;
}
.team-social-icons svg:hover{
transform: scale(0.9);
}

