
.input-group-text{
    border: none !important;
    background:none !important;


}
.form-control.is-invalid, .was-validated .form-control:invalid{
    background: none !important;
    margin: 0;
}
p{
    margin: 0;
}
label{
    font-size: 20px;
}
input::placeholder{
color: red;
}
.form-control{
    border: none;
    border-radius: 1px;
    border-bottom: 2px solid #dee2e6;
}
.form-control:focus{
    box-shadow: none;

}
.form-control.is-invalid:focus{
    box-shadow: none;
}
.top-50{
    top: 25% !important;
}