.signupBtn,.loginBtn{
    border: 1px solid gray !important;
    border-radius: 5px;
    width: 120px;
    text-align: center;
    margin: 0 !important;
    
}
.navbar-nav a{
    margin: 0 15px;
    font-weight: 600;
    color: white;
}
.navbar-bg{
    background-color: var(--dark-color);
    color: white !important;
}
.navbar-brand{
    color:white !important
}