.signupBtn,.loginBtn{
    border: 1px solid gray !important;
    border-radius: 5px;
    width: 120px;
    text-align: center;
    
}

.navbar-nav a{
    color: white !important;
    font-weight: 600;
    position: relative;
    transition:all 0.2s ease-in-out ;
}
@media screen and (min-width:992px) {
    .navbar-nav a{
        margin: 0 10px;
    }
}

.navbar-bg{
    background-color: var(--dark-color) !important;
    color: white !important;
}
.navbar-brand{
    color:white !important
}
.navbar-toggler{
    background-color: white !important;
}
.navbar-nav a:hover{
transform: scale(0.9);    
}