.swiper-slide img {
    position: relative;
    width: 100%;
    max-height: 800px;
    display: flex;    object-fit: cover;
    filter: blur(2px);
  }
  .swiper-button-next, .swiper-button-prev{
    color: var(--light-color) !important;
  }
  .swiper-button-prev:after, .swiper-button-next:after{
    font-size: 25px !important;
  }

  .swiper-pagination-bullet{
    width: 15px !important;
    height: 15px !important;
    background-color:var(--light-color);
  }
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
  }

/*--------------------------------------------------------------

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  width: 100%;
    background-image: url("/images/hero-bg.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right top;
}



#hero .btn-get-started {
  font-family: var(--primary-font);
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 20px 30px;
  border-radius: 50px;
  transition: 0.5s;
  color: #fff;
  background:var(--dark-color);

}
#hero h1 {
  margin: 0 0 20px 0;
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  color: #364146;
}
#hero h2 {
  color: #576971;
  margin-bottom: 30px;
  font-size: 24px;
}

#hero h1{
  background: -webkit-linear-gradient(45deg, #09009f, #00ff95 80%);  
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

  
}

@media only screen and (max-width:767px){
  #hero h1{
  font-size: 30px;
  font-weight: 700;
  line-height: 40px;
  }
 
  }
  @media only screen and (min-width:992px) and (max-width:1280px){
    #hero h1{
    font-size: 39px;
    font-weight: 700;
    line-height: 40px;
    }
   
    }


  @media (max-width: 767px) {
    .sectionbox .col-md-6:nth-child(3) {
      order: 2;
    }
  
  .sectionbox  .col-md-6:nth-child(4) {
      order: 1;
    }
  }
  .testimonial{
    background-color: var(--background-color);
  }
  .testimonial-item .testimonial-img {
    width: 90px;
    height: 90px;
    border-radius: 50px;
    border: 6px solid var(--background-color);
    margin-right: 10px;
}
.testimonial .testimonial-item h3 {
  font-size: 18px;
  font-weight: bold;
  margin: 10px 0 5px 0;
  color:var(--text-color)
}
.testimonial .testimonial-item h4 {
  font-size: 14px;
  margin: 0;
    color: rgba(var(--text2-color), 0.5);
}
.stars svg{
  color:#ffc107;
}
.swiper-slide img {
  filter: blur(0);
}
.swiper-pagination-bullet{
  background-color:#ffc107 !important;

}
.recent-post .post-img {
  max-height: 240px;
  overflow: hidden;
}
.recent-post .post-category {
  font-size: 16px;
  color: rgba(var(--default-color-rgb), 0.5);
  margin-bottom: 10px;
}
.recent-post .title a {
  color: var(--dark-color);
  transition: 0.3s;
}
.recent-post .post-author-img {
  width: 50px;
  border-radius: 50%;
  margin-right: 15px;
}
.recent-post .post-author {
  font-weight: 600;
  margin-bottom: 5px;
}
.recent-post .post-date {
  font-size: 14px;
  color: rgba(var(--text2-color), 0.5);
  margin-bottom: 0;
}
.recent-post .title {
  font-size: 20px;
  font-weight: 600;
  padding: 0;
  margin: 0 0 20px 0;
}
.recent-post .title a {
text-decoration: none;
line-height: 30px;
}
.recent-post article {
  padding: 30px;
  height: 100%;
  overflow: hidden;
}
.icon-box {
  padding: 50px 40px;
  box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  transition: all 0.3s ease-out 0s;
  background-color: #fff;
}
.icon-box h3{
  margin-bottom: 10px;
  font-size: 24px;
  font-weight: 700;

}
.icon-box p{
  font-size: 15px;
  font-weight: 400;

}
