*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --dark-color:#293241;
    --light-color:#e9ecef;
    --primary-font:'Poppins', sans-serif;
    --secondry-font:'Roboto', sans-serif;
}
body{
    height: 100vh;
    position: relative;
    transition: all 0.3 ease-in;    
    font-family: var(--primary-font) !important;
  scroll-behavior: smooth;
  overflow-x: hidden;
  padding-top: 100px;
}