*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --dark-color:#293241;
    --light-color:#e9ecef;
    --primary-font:'Poppins', sans-serif;
    --secondry-font:'Roboto', sans-serif;
    --background-color: #f4f4f4;    
    --text-color:#32353a;
    --text2-color:33, 37, 41;
    --icon-bg:232, 69, 69;
    --icon-color:#e84545;


}
body{
    width: 100vw;
    transition: all 0.3 ease-in;    
    font-family: var(--primary-font) !important;
  scroll-behavior: smooth;
  padding-top: 88px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-x: hidden;

}