html,body,#root {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    justify-content: end;
    overflow-x: hidden;
   }
p{
    font-size: 18px;
    line-height: 30px;
    font-weight: 400;
}

@media screen and (max-width:767px) {
    h2{
        font-size: 25px !important;
    }
    p{
        font-size: 16px;
        line-height: 30px;

    }
}

h2{
    font-size: 42px;
    font-weight: 700;
    
}
h4{
    margin-bottom: 0;
}
.vert-move {
    animation: mover 1s infinite alternate;
  }
  @keyframes mover {
    0%{
      transform: translateY(0);
    }
    100% {
      transform: translateY(-10px);
  }
    
  }
  
  .hover{
    transition: all 0.2s ease-in;
  }
  .hover:hover{
    transform: translateY(-10px);
  }
  .scale{
    transition: all 0.2s ease-in;
  
  }
  .scale:hover{
    transform: scale(0.9);
  }
  .underline{
    transition: all 0.2s ease-in;
  
  }
  .underline:hover{
    text-decoration: underline !important;
  }
  
  

